body{
    &.light{
        background-color: #FFF;
        color: #000;
        transition: all 0.3s linear;
    }
    &.dark{
        background-color: #000;
        color: #FFF;
        transition: all 0.3s linear;
    }
}