.container{
    
        width:100vw;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:50px;
        
       
}
.changeModeBtn{
    width:120px;
    height: 40px;
    border: none;
    background-color: lightslategray;
    border-radius: 10px;
    color:white;
    font-size: 15px;
}